.header_title{
	height: 74px;
	padding: 20px 0;
	display: inline-block !important;
	color: white;
	border-radius: 6px;
	height: 30px;
	line-height: 30px;
	padding: 0 15px;
	margin-top: 5px;
	background-color: gray;
	margin-left: 5px;
}

.header{
	/*margin-left: 20px;*/
	height: 74px;
	padding: 20px 0;
	position: relative;
}
.item{
	display: inline-block !important;
	color: white;
	border-radius: 6px;
	color: white;
	height: 30px;
	line-height: 30px;
	padding: 0 15px;
	margin-top: 5px;
	cursor: pointer;
}
	.item:hover{
		background-color: #33b75a;
	}
.lvl0{background-color: #255680; margin-left: 5px;}
.lvl1{background-color: #337ab7; margin-left: 55px;}
.lvl2{background-color: #4b93d2; margin-left: 105px;}
.lvl3{background-color: #79b9f1; margin-left: 155px;}
.lvl4{background-color: #d5ebff; margin-left: 205px; color: black;}

.caret_up{
	transform: rotate(180deg); */
}

.headerLink{
	line-height: 30px;
	margin: 6px 12px;
}

#searchForm{
	display: inline-block;
}

.notFound{
	text-align: center;
	margin-top: 50px;
}

#preloader{
	width: 128px;
	position: fixed;
	top: 50%;
	margin-top: -64px;
	left: 50%;
	margin-left: -64px;
	z-index: 999;
	display: none;
}

#dark_bg{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.3);
	display: none;
}

a#logout, a#login{
	position: absolute;
    right: 40px;
    top: 26px;
}

#showAddEmployeeModal{
	margin-left: 20px;
}

.modal-body{
	overflow: hidden;
}

.image_helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.imageWrapper{
	display: inline-block;
	float: left;
	width: 40%;
	padding-right: 40px;
}
	.image{
		height: 300px;
		white-space: nowrap;
		text-align: center;
	}
.dataWrapper{
	display: inline-block;
	width: 60%;
	float: right;
}

.avatar_source{
	border: 3px solid;
	border-radius: 8px;
	max-height: 300px;
}

.image_buttons{
	margin: 20px 0;
}

.searchField{
	margin-right: -5px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.submitSearch{
	border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.ui-widget.ui-widget-content {
    position: fixed !important;
    z-index: 1051 !important;
}

.ui-autocomplete {
    max-height: 350px;
    overflow-y: auto;
    overflow-x: hidden;
  }

.error{
	color: red;
}

input.avatar{
	display: none !important;
}

div.avatar{
	height: 50px;
	width: 50px;
	display: inline-block;
	text-align: center;
	white-space: nowrap;
}
	div.avatar img{
		max-width: 50px;
		max-height: 50px;
	}

.itemWrapper{
	margin-bottom: 3px;
	margin-left: 3px;
}

.glyphicon.pencil{
	margin: 0 20px;
	display: none;
}

.itemWrapper:hover .glyphicon.pencil{
	display: inline-block;
}

.avatar_source{
	max-width: 100%;
}

.reset_filters{
	line-height: 30px;
	margin: 6px 0 6px 12px;
}